.display-infor-container {
    .red {
        color: pink;

    }

    .green {
        color: green;
    }

    .Anh {
        width: 15%;
    }

    .TT {
        display: flex;
    }

    .CC {
        margin-left: 89%;
    }
}